*{
    padding: 0;

    margin: 0;
}
.colonedroite {
    background: rgba(0, 0, 0, 0.315);
    padding: 2%;
    height: 80%;
    width: 20%;
    position: absolute;
    left: 75%;
    font-family: serif;
    top: 10%;
    border: black;
    border-radius: 2%;
    list-style-type: none;
    scrollbar-width: none;
}
.colonedroite::-webkit-scrollbar {
  display: none;
}
.colonemilieu {
    background: rgba(0, 0, 0, 0.315);
    padding: 2%;
    height: 80%;
    width: 43%;
    position: absolute;
    left: 26%;
    top: 10%;
    border: black;
    border-radius: 2%;
    scrollbar-width: none;
}
.colonemilieu::-webkit-scrollbar {
  display: none;
}
.imagelogo{
    height: 6%;
    width: 3%;
    position: absolute;
    left: 50%;
    top: 3.5%;
    transform: translate(-50%, -50%);
}
.imgkheir{
      height: 6%;
      width: 3%;
      position: absolute;
      left: 80%;
      top: 3.5%;
      transform: translate(-50%, -50%);
}
.compte {
  position: absolute;
  left: 82%;
  top: 1.5%;
}
.backgroundpageone {
    background:url(..//img/wallpaper.jpg)no-repeat center fixed ;
    opacity: 1;
    background-size:cover ;
}
  .outlook {
    background-image: url(../img/outlook.jpg);
    border-radius: 4px;
    background-position: center;
    list-style-type: none;
    background-size: cover;
    text-decoration: none;
    padding: 1em 2em;
    padding: 2%;
    height: 9%;
    width: 20%;
    position: absolute;
    left: 1%;
    top: 28%;
    filter:brightness(0.8);
    animation:  0.4s 180ms ease-in both;
  }

  .outlook:hover {
      filter:brightness(1.1);
      transform: scale(1.04);
  }
  .hyper {
    background-image: url(../img/Hyper.png);
    border-radius: 4px;
    background-position: center;
    list-style-type: none;
    background-size: cover;
    text-decoration: none;
    padding: 1em 2em;
    padding: 2%;
    height: 9%;
    width: 20%;
    position: absolute;
    left: 1%;
    top: 45%;
    filter:brightness(0.8);
  }

  .hyper:hover {
    filter:brightness(1.1);
    transform: scale(1.04);
  }
  .moodle {
    background-image: url(../img/Moodle.png);
    border-radius: 4px;
    list-style-type: none;
    background-position: center;
    background-size: cover;
    text-decoration: none;
    padding: 1em 2em;
    padding: 2%;
    height: 9%;
    width: 20%;
    position: absolute;
    left: 1%;
    top: 62%;
    filter:brightness(0.8);
  }

  .moodle:hover {
    filter:brightness(1.1);
    transform: scale(1.04);
  }

  .zoom {
    height: 30%;
    width: 53%;
  }
  .nom li{
    font-size: 13px;
    color: azure;
    list-style-type: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .imgclasse{
    height: 2%;
    width: 15%;
    display: list-item;
    }
  .imgclassepost{
      height: 40%;
      width: 9%;
      }
  .ytrack {
    background-image: url(../img/Ytrack.png);
    border-radius: 4px;
    list-style-type: none;
    background-position: center;
    background-size: cover;
    text-decoration: none;
    padding: 1em 2em;
    padding: 2%;
    height: 9%;
    width: 20%;
    position: absolute;
    left: 1%;
    top: 79%;
    filter:brightness(0.8);
  }
  .ytrack:hover {
    filter:brightness(1.1);
    transform: scale(1.04);
}
.linkedin{
  background-image:  url(../img/lkdn.png);
  border-radius: 4px;
  list-style-type: none;
  background-position: center;
  background-size: cover;
  text-decoration: none;
  padding: 1em 2em;
  padding: 2%;
  height: 9%;
  width: 20%;
  position: absolute;
  left: 1%;
  top: 11%;
  filter:brightness(0.8);
}
.linkedin:hover {
  filter:brightness(1.1);
  transform: scale(1.04);
  }
/* Add a black background color to the top navigation bar */
.header {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.315);
}

/* Style the links inside the navigation bar */
.header a {
  float: left;
  display:flex;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.header a:hover {
  background-color: rgb(194, 203, 219);
  color: black;
}

/* Style the "active" element to highlight the current page */
.header a.active {
  background-color: #3d95dd;
  color: white;
}

/* Style the search box inside the navigation bar */
.header input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
@media screen and (max-width: 600px) {
  .header a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .header input[type=text] {
    border: 1px solid #ccc;
  }
}

#card_holder {
  display: flex;
  flex-wrap: wrap;
}

#card_holder > div {
  width: 100%;
  height: 100%;
}

.card {
  box-shadow: 0 4px 8px 0 rgb(104, 103, 103);
  max-width: 250px;
  margin: 1% 1%;
  margin-left: 2%;
  background: #00BBF9;
  text-align: center;
}

.title {
  color: rgb(255, 255, 255);
  font-size: 18px;
}

.troplong {
  overflow: hidden;
  text-overflow: ellipsis;
}

.troplong:hover{
  width: fit-content;
  overflow: visible;
  background-color: #08aae0;
}


h1 {
  color: #ffffff;
}
p {
  color:#ffffff
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: rgb(255, 255, 255);
}

button:hover, a:hover {
  opacity: 0.7;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
.containers{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
  position: absolute;
  top: 98%;
  width: 100%;
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 2px 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: rgb(0, 162, 255);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.pseudokheir {
  position: absolute;
  left: 13%;
  top: 10%;
  color: aliceblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
}
.datekheir {
  position: absolute;
  left: 75%;
  top: 10%;
  color: aliceblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
}
.apprendre{
  position: absolute;
  left: 13%;
  top: 73%;
  color: aliceblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
  font-size:medium;
}
.apprendrejava{
  position: absolute;
  left: 3%;
  top: 75%;
  color: aliceblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
  font-size:medium;
}
.pseudopierre {
  position: absolute;
  left: 13%;
  top: 18%;
  color: aliceblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
}
.datepierre {
  position: absolute;
  left: 75%;
  top: 18%;
  color: aliceblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
}
.pseudomargot {
  position: absolute;
  left: 13%;
  top: 18%;
  color: aliceblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
}
.datemargot {
  position: absolute;
  left: 75%;
  top: 18%;
  color: aliceblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
}
.pseudoben {
  position: absolute;
  left: 13%;
  top: 20%;
  color: aliceblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
}
.dateben {
  position: absolute;
  left: 75%;
  top: 20%;
  color: aliceblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
}
.pseudoolivier {
  position: absolute;
  left: 13%;
  top: 20%;
  color: aliceblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
}
.dateolivier {
  position: absolute;
  left: 75%;
  top: 20%;
  color: aliceblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
}
.refactoring{
  position: absolute;
  left: 3%;
  top: 65%;
  color: aliceblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
  font-size:medium;
}
.pseudoMargot {
  position: absolute;
  left: 13%;
  top: 15%;
  color: aliceblue;
}
.pseudoPierre {
  position: absolute;
  left: 13%;
  top: 15%;
  color: aliceblue;
}
.pseudoBen {
  position: absolute;
  left: 13%;
  top: 15%;
  color: aliceblue;
}
.pseudoOlivier {
  position: absolute;
  left: 13%;
  top: 15%;
  color: aliceblue;
}
.post {

  background: #3b3c3ed2;
  padding: 2%;
  height: 20%;
  width: 94%;
  position: absolute;
  left: 1%;
  top: 1%;
  border: black;
  border-radius: 2%;
}
.post2 {
  background: #3b3c3ed2;
  padding: 2%;
  height: 20%;
  width: 94%;
  position: absolute;
  left: 1%;
  top: 26%;
  border: black;
  border-radius: 2%;
}
.post3 {
  background: #3b3c3ed2;
  padding: 2%;
  height: 20%;
  width: 94%;
  position: absolute;
  left: 1%;
  top: 51%;
  border: black;
  border-radius: 2%;
}
.post4 {
  background: #3b3c3ed2;
  padding: 2%;
  height: 20%;
  width: 94%;
  position: absolute;
  left: 1%;
  top: 76%;
  border: black;
  border-radius: 2%;
}
.post5 {
  background: #3b3c3ed2;
  padding: 2%;
  height: 20%;
  width: 94%;
  position: absolute;
  left: 1%;
  top: 101%;
  border: black;
  border-radius: 2%;
}

.reply {
  height: 10%;
  width: 3%;
  left: 90%;
  top: 80%;
  position: absolute;
}
.reply:hover {
  filter: brightness(1.5);
}
.text {
  border: none;
  color: #ffffff;
  background-color: transparent;
  resize: none;
  outline: none;
  width: 85%;
  height: 60%;
  font-size: 16px;
  scrollbar-width: none;
  left: 13%;
  top: 25%;
  position: absolute;

}
.text::-webkit-scrollbar {
  display: none;
}

.nom li {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.nom li img {
  margin-right: 20px;
}
.active{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.elev{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:#ffffff;
}
.searchInputWrapper {
  position: relative;
}

.searchInput {
  width: 17rem;
  height: 2rem;
  padding: 0 1rem;
  border-radius: 2rem;
  border: none;
  transition: transform 0.1s ease-in-out;
}

::placeholder {
  color: #a1a1a1;
}

/* hide the placeholder text on focus */
:focus::placeholder {
  text-indent: -999px
}

.searchInput:focus {
  outline: none;
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
}

.searchInputIcon {
  position: absolute;
  right: 0.8rem;
  top: 0.5rem;
  color: #a1a1a1;
  transition: all 0.1s ease-in-out;
}

.container:focus-within >
.searchInputWrapper > .searchInputIcon {
  right: 0.2rem;
}
body{

  color: #1a202c;
  text-align: left;
  background-color: #e2e8f0;
}
.main-body {
  padding: 15px;
}

.nav-link {
  color: #4a5568;
}

.card {
  transition: all 0.3s;
}


.card:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

@media (orientation: portrait) {
  .card {
    margin: 5% 5%;
    max-width: 155px;
    max-height: 355px;
  }
  .compte {
    display: none;
  }
  .imgkheir {
    display: none;
  }
  .imagelogo {
    display: none;
  }
  #card_holder {
    display: flex;
    flex-wrap: wrap;
  }
}
.contain {
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxforcard {
  width: 70%;
  height: 650px;
  border-radius: 2%;
  margin: 20px;
  background-color: #226CE0;
}
.imgforbox{
  width: 15%;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: row;
}
