*{
    padding: 0;

    margin: 0;
}

.header {
    background: black;
    opacity: 0.30;
    padding: 2%;
}
.colognedroite {
    background: black;
    opacity: 0.30;
    padding: 2%;
    height: 90%;
    width: 25%;
    position: absolute;
    left: 70%;
    top: 10%;
    border: black;
}
.colognegauche {
    background: black;
    opacity: 0.30;
    padding: 2%;
    height: 90%;
    width: 25%;
    position: absolute;
    left: 1%;
    top: 10%;
    border: black;
    border-radius: 2%;
}
.imagepc{
    height: 10%;
    width: 7%;
    position: absolute;
    left: 0%;
    top: 20%;
    transform: translate(-50%, -50%);
}
.imagelogo{
    height: 10%;
    width: 7%;
    position: absolute;
    left: 4%;
    top: 6%;
    transform: translate(-50%, -50%);
}
.backgroundpageone {
    background:url(../img/desk.png)no-repeat center fixed ;
    opacity: 1;
    background-size:cover ;
}
#searchbar{
    left: 7%;
    top: 1%;
    height: 4%;
    width: 20%;
    padding-left: 20px;
    position: absolute;
    border-radius: 10px;
  }

  input[type=text] {
     width: 30%;
     -webkit-transition: width 0.15s ease-in-out;
     transition: width 0.15s ease-in-out;
     text-align: unset;
  }


  input[type=text]:focus {
    width: 70%;
  }
