*{
    padding: 0;

    margin: 0;
}

.header {
    background: black;
    opacity: 0.30;
    padding: 2%;
}
.colognedroite {
    background: black;
    opacity: 0.30;
    padding: 2%;
    height: 90%;
    width: 20%;
    position: absolute;
    left: 75%;
    top: 10%;
    border: black;
    border-radius: 2%;
}
.colognegauche {
    background: black;
    opacity: 0.30;
    padding: 2%;
    height: 40%;
    width: 20%;
    position: absolute;
    left: 1%;
    top: 10%;
    border: black;
    border-radius: 2%;
}
.imagepc{
    height: 10%;
    width: 7%;
    position: absolute;
    left: 0%;
    top: 20%;
    transform: translate(-50%, -50%);
}
.imagelogo{
    height: 10%;
    width: 7%;
    position: absolute;
    left: 4%;
    top: 6%;
    transform: translate(-50%, -50%);
}
.backgroundpageone {
    background:url(../img/background.png)no-repeat center fixed ;
    opacity: 1;
    background-size:cover ;
}
#searchbar{
    left: 7%;
    top: 1%;
    height: 4%;
    width: 20%;
    padding-left: 20px;
    position: absolute;
    border-radius: 10px;
  }

  input[type=text] {
     width: 30%;
     -webkit-transition: width 0.15s ease-in-out;
     transition: width 0.15s ease-in-out;
     text-align: unset;
  }


  input[type=text]:focus {
    width: 70%;
  }


  .links-list-a {
    background-image: url(../img/outlook.jpg);
    border-radius: 4px;
    background-position: center;
    list-style-type: none;
    background-size: cover;
    text-decoration: none;
    padding: 1em 2em;
    padding: 2%;
    height: 20%;
    width: 43%;
    position: absolute;
    left: 26%;
    top: 10%;
    filter:brightness(0.8);
  }
  
  .links-list-a:hover {
      filter:brightness(1.1);
      transform: scale(1.04);
  }
  .links-list-b {
    background-image: url(../img/Hyper.png);
    border-radius: 4px;
    background-position: center;
    list-style-type: none;
    background-size: cover;
    text-decoration: none;
    padding: 1em 2em;
    padding: 2%;
    height: 20%;
    width: 43%;
    position: absolute;
    left: 26%;
    top: 40%;
    filter:brightness(0.8);
  }
  
  .links-list-b:hover {
    filter:brightness(1.1);
    transform: scale(1.04);
  }
  .links-list-c {
    background-image: url(../img/Moodle.png);
    border-radius: 4px;
    list-style-type: none;
    background-position: center;
    background-size: cover;
    text-decoration: none;
    padding: 1em 2em;
    padding: 2%;
    height: 20%;
    width: 43%;
    position: absolute;
    left: 26%;
    top: 70%;
    filter:brightness(0.8);
  }
  
  .links-list-c:hover {
    filter:brightness(1.1);
    transform: scale(1.04);

  }
  .zoom {
    height: 30%;
    width: 53%;
  }